.reveal .yourturn a {
  color: white;
}

.reveal code {
  font-weight: bolder;
  font-size: 120%;
}
.reveal .solutions a {
  color: white;
}


.reveal .controls .navigate-left, .reveal .controls .navigate-left.enabled {
  border-right-color: black; }

.reveal .controls .navigate-right, .reveal .controls .navigate-right.enabled {
  border-left-color: black; }

.reveal .controls .navigate-up, .reveal .controls .navigate-up.enabled {
  border-bottom-color: black; }

.reveal .controls .navigate-down, .reveal .controls .navigate-down.enabled {
  border-top-color: black; }

.reveal .controls .navigate-left.enabled:hover {
  border-right-color: black; }

.reveal .controls .navigate-right.enabled:hover {
  border-left-color: black; }

.reveal .controls .navigate-up.enabled:hover {
  border-bottom-color: black; }

.reveal .controls .navigate-down.enabled:hover {
  border-top-color: black; }

h6 {
  color: transparent;
  font-size:0;
}
