.reveal section.yourturn a {
  color: white;
}

.reveal section.solutions a {
  color: white;
}


.reveal .controls div.navigate-left, .reveal .controls div.navigate-left.enabled {
  border-right-color: black; }

.reveal .controls div.navigate-right, .reveal .controls div.navigate-right.enabled {
  border-left-color: black; }

.reveal .controls div.navigate-up, .reveal .controls div.navigate-up.enabled {
  border-bottom-color: black; }

.reveal .controls div.navigate-down, .reveal .controls div.navigate-down.enabled {
  border-top-color: black; }

.reveal .controls div.navigate-left.enabled:hover {
  border-right-color: black; }

.reveal .controls div.navigate-right.enabled:hover {
  border-left-color: black; }

.reveal .controls div.navigate-up.enabled:hover {
  border-bottom-color: black; }

.reveal .controls div.navigate-down.enabled:hover {
  border-top-color: black; }

